
### Included from https://github.com/rkm/dotfiles/blob/master/windows/.gitconfig ###

[core]
  autocrlf = true
  filemode = false
  ignorecase = false
  sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'

[color]
    ui = true

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[submodule]
  recurse = true

[merge]
  tool = sublimerge

[mergetool "sublimerge"]
  cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
  trustExitCode = false

[diff]
  tool = sublimerge

[difftool "sublimerge"]
  cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"
