
### Included from https://github.com/rkm/dotfiles/blob/master/common/.gitconfig ###

[user]
  name = Ruairidh MacLeod
  email = 5160559+rkm@users.noreply.github.com
  username = rkm

[core]
  filemode = false
  ignorecase = false

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status

[color]
  ui = true

